@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222831;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.hoverBackgroundEffect:hover{
  background-color: rgba(238, 238, 238, 0.109);
}

@layer components{
  .footer-link{
    @apply hoverBackgroundEffect px-2 py-1 rounded-md font-light text-sm mb-1 cursor-pointer hover:underline
  }
}